.slider-button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.slider-buttons {
  margin: 20px;
  border: 1px solid;
  border-radius: 10px;
  color: #aa00ff;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.image-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.image {
  max-height: 230px;
  min-width: 500px;
  object-fit: contain;
}
